* {
    -webkit-tap-highlight-color: transparent;
}

@font-face{ 
    font-family:Vaoodu2rf;
    src: url(../Fuente_Vaoodu2rf/vaudoo2RF.ttf)
}

body{
    font-family: Vaoodu2rf;
    background: linear-gradient(rgba(1, 1, 2, 0.3), rgba(1, 1, 2, 0.3)),url(images/Backgrounds/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* width: 100vh; */
    /* height: 100vh; */
}

.introduction {
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.introduction a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.introduction img{
    height: 40vh;
    margin-top: 10%;
}

.introduction h1 {
    font-size: 12vh;
    margin-top: 0;
    margin-bottom: 0;
    color: #ffffff;
}

.introduction h2 {
    font-size: 7vh;
    margin-top: -7;
    margin-bottom: 0;
    color: #ffffff;
}


@media only screen and (max-width: 500px){
    
    body{
        background: linear-gradient(rgba(1, 1, 2, 0.7), rgba(1, 1, 2, 0.7)),url(images/Backgrounds/red.jpg); 
        background-position: center; 
        background-repeat: no-repeat;
        background-size: cover;
        font-family: Vaoodu2rf;
        overflow: hidden;
    }

    .introduction {
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-top: 0%;
    }

    .introduction img{
        padding-top: 10%;
        max-height: 30%; 
        padding-bottom: 4vh;
    }

    .introduction a{
        text-decoration: none;
    }

    .introduction h1{
        font-size: 7vh; 
        margin-top: 0;
        margin-bottom: 0;
        color: #ffffff;
    }

    .introduction h2{
        font-size: 5vh;
        margin-top: -7;
        margin-bottom: 0;
        color: #ffffff;
    }

}