@font-face{ 
    font-family:Vaoodu2rf;
    src: url(../Fuente_Vaoodu2rf/vaudoo2RF.ttf)
}

* {
    -webkit-tap-highlight-color: transparent;
    padding: 0;
    margin: 0;
    user-select: none;
}


body{
    font-family: Vaoodu2rf;
    background: linear-gradient(rgba(0, 0, 0, 0.863), rgba(0, 0, 0, 0.3)),url(images/Backgrounds/background.gif);
    background-size: cover;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    /* width: 100vh; */
    /* height: 100vh; */    
}

.introduction {
    text-align: center;
    /* display: block; */
    /* align-items: center; */
    /* justify-content: center; */
}


.introduction-img{
    height: 120vh;
}


@media only screen and (max-width: 500px){
    
    body {
        background-image: url(images/Backgrounds/Black_intro.jpg);
    }

    .introduction {
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .introduction-img {
        height:  30rem;
        padding-top: 4rem;
        padding-right: 1rem;
    }

}
