* {
    -webkit-tap-highlight-color: transparent;
}

@font-face{ 
    font-family:Vaoodu2rf;
    src: url(../Fuente_Vaoodu2rf/vaudoo2RF.ttf)
}

body{
    font-family: Vaoodu2rf;
    background: linear-gradient(rgba(1, 1, 2, 0.3), rgba(1, 1, 2, 0.3)),url(images/Backgrounds/background.gif);
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    /* width: 100vh; */
    /* height: 100vh; */
}

.introduction {
    text-align: center;
    display: block;
    align-items: center;
    justify-content: center;
}


.introduction-img{
    height: 60rem;
    padding-top: 3rem;
}


@media only screen and (max-width: 500px){
    
    body {
        background-image: url(images/Backgrounds/Black_intro.jpg);
    }

    .introduction {
        text-align: center;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .introduction-img {
        height:  40rem;
        padding-top: 5rem;
    }

}
