@font-face {
    font-family: Vaoodu2rf;
    src: url(../Fonts/Fuente_Vaoodu2rf/vaudoo2RF.ttf)
}

@font-face {
    font-family: Nordic;
    src: url(../Fonts/Fuentre_Nordic/Nordic.ttf);
}

@font-face {
    font-family: viking;
    src: url(../Fonts/Fuente_Viking/Viking.ttf);
}

@font-face {
    font-family: viking2;
    src: url(../Fonts/Fuente_pr_viking/viking2.ttf);
}

@font-face {
    font-family: racing;
    src: url(../Fonts/Fuente_racing/Racing.ttf);
}

@font-face {
    font-family:tapestry ;
    src: url(../Fonts/Fuente_tapestry/Tapestry-Regular.ttf);
}

* {
    margin: 0;
    padding-bottom: 2vh;
    user-select: none;
    text-decoration: none;
    color: #ffffff;
    list-style:none;
    -webkit-tap-highlight-color: transparent;
}

body {
    background-image: url(../images/Backgrounds/brown.jpg);
    font-family: Vaoodu2rf;
}

header {
    display: grid;
    justify-items: start;
}

header img {
    height: 12rem;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    /* height: 100%; */
    /* overflow-y: hidden; */
    /* align-self: baseline; */
}

a {
    text-decoration: none;
}


.back-button {
    text-decoration: none;
    height: fit-content;
    justify-self: left;
    font-size: 5vh;
    /* padding-left: 1rem; */
    align-items: center;
}

.header-title {
    font-family: Vaoodu2rf;
    text-align: right;
    padding-top: 1rem;
    align-self: baseline;
    height: fit-content;
    justify-self: center;
    font-size: 2.5rem;
}

.common-ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 1vh;
}

.common-ul a {
    text-decoration: none;
}

.common-li {
    font-family: viking;
    background-color: rgba(75, 72, 72, 0.562);
    margin-top: 1rem;
    margin-left: 1.5rem;
    margin-right: 1rem;
    border-radius: 1rem 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: left;
}

.common-h2 {
    font-family:tapestry ;
    padding-top: 0.5rem;
    padding-left: 1rem;
    text-align: left;
    font-size: 1,9rem;
}

.common-h3 {
    font-family:'Courier New', Courier, monospace;
    /* padding-left: 1rem; */
    padding-bottom: 1rem;
    font-size: 1rem;
}

footer {
    visibility: visible;
}

footer i {
    font-size: 3rem;
}