@font-face {
    font-family: Vaoodu2rf;
    src: url(../Fuente_Vaoodu2rf/vaudoo2RF.ttf)
}

@font-face {
    font-family: Nordic;
    src: url(../Fuentre_Nordic/Nordic.ttf);
}

@font-face {
    font-family: viking;
    src: url(../Fuente_Viking/Viking.ttf);
}

*{
    font-family: Vaoodu2rf;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    user-select: none;
}

 body {
    background-image: url(../images/Backgrounds/brown.jpg);
    background-size: cover;    
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
 }

@media only screen and (max-width: 500px) {

    body{
        background-image: url(../images/Backgrounds/brown.jpg);
    }    

    .header{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        position: static ;
        padding-top: 0.5rem;
    }
    
    .back-button{
        text-decoration: none;
        height: fit-content;
        justify-self: left;
        color: aliceblue;
        font-size: 2rem;
        padding: 0rem 1rem;
        align-items: center;
    }
    
    .header-title{
        text-align: right;
        height: fit-content;
        justify-self: center;
        color: aliceblue;
        font-size: 3rem ;
    }
    

    .common-ul{
        list-style-type: none;
        max-height: 100vh;
        overflow-y: auto;
    }

    .common-ul a{
        text-decoration: none;
    }
    
    .common-li{
        padding-left: 0.4rem;
        background-color: rgba(75, 72, 72, 0.562);  
        margin-top: 1rem;
        margin-left: 1.5rem;
        margin-right: 1rem;
        border-radius: 1rem 3rem;
    }

    .common-h2{
        color: aliceblue;
        padding-top: 1rem;
        padding-left: 1rem;
        text-align: left;
        font-size: 1.5rem;
    }
    
    .common-h3 {
        font-family: viking;
        color: aliceblue;
        padding-left: 1rem;
        padding-bottom: 1rem;
        font-size: 1rem;
    }

}
















