*{
    font-family: 'Caesar Dressing';
    font-weight: 100 ;
}

body{
    background: linear-gradient(rgba(1, 1, 2, 0.7), rgba(1, 1, 2, 0.7)),
        url(../images/wallpaperbetter.com_1920x1080.jpg); 
    height: 100vh;
    background-size: cover;
}

#header {
    display: flex;
    position: static;
    text-align: center;
    padding-top: 3vh;
    width: 100%;
    height: 10%;
    /* justify-content: center; */
    /* background-color: #ffffff; */
}

#header h2 {
    font-size: 10vh;
    padding-top: 4vh ;
    color: #ffffff;
}

#header img {
    height: 20vh;
}
#nav {
    height: 10000px;
    color: #000000;
}

#nav_conteiner {
text-decoration: none;
height: 100%;
}

#nav_conteiner ul {
    position: relative;
    list-style-type: none;
}

#nav_conteiner li {
    padding: 5vh 0;
    text-align: center;
    font-size: 7vh;
}

#nav_conteiner a {
    text-decoration: none;
    color: #ffffff;
}

@media only screen and (max-width: 500px){

    body {
        background: linear-gradient(rgba(1, 1, 2, 0.7),rgba(1, 1, 2, 0.7)),url(../images/Background-1.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    #header {
        display: flex;
        position: relative;
        text-align: center;
        justify-content: center;
        padding-top: 3vh;
        /* background-color: black; */
    }

    #header h2{
        font-size: 12vh;
        padding-top: 4vh;
        color: #ffffff;
    }

    #header img{
        height: 20vh; 
        background-size: cover;
        /* background-color: rebeccapurple; */
    }

    #nav_conteiner {
        text-decoration: none;
    }

    #nav_conteiner ul{
        position: relative;
        list-style-type:none; 
        color: #ffffff;
    }

    #nav_conteiner li{
        text-align: center;
        font-size: 6vh;
        margin-top: 1vh;
    }

    #nav_conteiner a{
        text-decoration: none;
        color: #ffffff;
    }

}


